:root {
  --color-1: #3c75a8;
  --color-2: #cbaa81;
  --color-3: #027576;
  --color-4:#5f4fc7;
  --light-color: #f4f4f4;
  --dark: #333;
  --animate-speed: 2s;
}
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body,html{
  font-family: sans-serif;
  overflow:hidden;
}

h1{
  padding-bottom: 2rem;
}

p{
  line-height: 1.5rem;
  padding-bottom:2rem;
  width:75%;
}

.btn{
  text-decoration: none;
  color:var(--dark);
  background: var(--light-color);
  padding:1rem 1.75rem;
  transition: background 0.5s ease-out;
  display: inline-block;
}

.btn-dark{
  background:var(--dark);
  color:var(--light-color);
}

.btn:hover{
  background:var(--dark);
  color:var(--light-color);
}

.btn-dark:hover{
  color:var(--dark);
  background:var(--light-color);
}


#page-1{
  height:100vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color:var(--light-color);
  background: var(--color-1);
}

#page-1 h1{
  transform: translateY(-100rem);
  animation: heading var(--animate-speed) forwards ease-out;
}

#page-1 p{
  transform: translateX(-200rem);
  animation: para var(--animate-speed) forwards ease-out 1s;

}

#page-1 .btn{
  transform: translateX(100rem);
  animation: btn var(--animate-speed) forwards ease-out;

}

@keyframes heading{
  to{
    transform:translateY(0);
  }
}


@keyframes para{
  to{
    transform:translateX(0);
  }
}


@keyframes btn{
  to{
    transform:translateX(0);
  }
}
#page-2{
  height:100vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color:var(--light-color);
  background: var(--color-2);
}

#page-3{
  height:100vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color:var(--light-color);
  background: var(--color-3);
}

#page-4{
  height:100vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color:var(--light-color);
  background: var(--color-4);
}



.l-heading{
  font-size: 3.5rem;
}
.m-heading{
  font-size: 2rem;
}
